/* color: #f95a00; 주황*/
/* color: #f9bb00; 노랑*/
/* color: #4e5059; 검-회색 */
/* color: #ebebeb; border -> 연회색 */
/* 인풋 클릭시 border 노랑 */


* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* 익스플로러, 앳지 */
  scrollbar-width: none; /* 파이어폭스 */
  /* color: #333333; */
}

*::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
}

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333333; /* font-color 수정 */
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.mainContent {
  width: 90vw;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 360px;
}

body {
  margin: 0 !important;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  cursor: pointer;
  color: #f9bb00;
}

p{
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9bb00;
  cursor: pointer;
}

/* 수정 color: #333333;
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
