.applyManagerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applyManagerWrapper table {
  border-collapse: collapse;
  background-color: #e1e1e1;
}
.applyManagerWrapper th {
  background-color: #e1e1e1;
  padding: 1rem;
  text-align: center;
}

.applyManagerWrapper td {
  background-color: white;
  width: 250px;
  padding: 1rem;
}
.applyManagerWrapper th,
td {
  border: 1px solid #e1e1e1;
}

.certificateContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.certificateWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.certifTitle {
  padding: 1rem;
  background-color: #e1e1e1;
}

.certifContent {
  padding: 1rem;
}

.certifInput {
  border: 1px solid gray;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.certifBtn {
  background-color: skyblue;
  color: white;
}

.cofirmBtn:hover {
  background-color: orange;
}

.cancleBtn {
  background-color: #d1d1d1;
  color: white;
  margin: 0.3rem;
}
.cancleBtn:hover {
  background-color: black;
}

.nameWrapper {
  margin: 0.8rem;
}

.userName {
  color: #505050;
  font-weight: 800;
  font-size: 1.3rem;
}

/* 점주 신청 현황 */
.certifImg {
  width: 150px;
  height: 150px;
}

.applyManagerTable {
  width: 350px;
}

.applyManagerTable td {
  color: #505050;
}
