.title {
  margin-top: 3rem;
  text-align: center;
}

.allCheckWrap {
  width: 88%;
  padding: 3rem 0 1rem 0;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  display: flex;
  align-items: center;
}

.allCheck,
.allCheckBox {
  float: left;
  margin: 0;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}

.allCheckBox {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.5rem;
}

.hiddenWrap {
  display: none;
}

.cartContainer {
  display: flex;
  min-height: 40rem;
  max-width: 90rem;
  height: 100%;
  width: 90%;
  margin: 4rem auto;
  margin-top: 0;
  text-align: center;
}

.cartProducts {
  width: 60%;
  /* display: grid;
    grid-template-columns: repeat(4, 25%); */
  display: flex;
  flex-wrap: wrap; /* 필요한 경우 다음 줄로 넘어가도록 설정 */
  gap: 1.6%; /* 각 항목 간 간격 설정 */
  margin-right: 1rem;
  z-index: 0;
}

.cartNullWrap {
  width: 70%;
  margin-right: 1rem;
  z-index: 0;
  padding-top: 6em;
}

.cartNull {
  width: 50%;
  height: 36vh;
  margin: 0 auto;
}

.cartCalcNullWrap {
  height: 100%;
  line-height: 100%;
}

.cartCalcNull {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  vertical-align: middle;
}

.cartCalculate {
  width: 30%;
  height: 56vh;
  border: 0.05rem solid rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  position: sticky;
  top: 8rem;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartProduct {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 20rem;
  border: 0.5px solid rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 1rem;
}

.cartProduct span {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.delItemMark {
  font-size: 1.4rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  cursor: pointer;
}

.productImage {
  height: 70%;
}

.productTitle {
  height: 20%;
}

.productPrice {
  height: 20%;
}

.quantityControl {
  width: 70%;
  height: 10%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.quantityInput {
  width: 100%;
  /* padding: 0 1rem; */
  padding-right: 0.5rem;
  text-align: right;
  border: 0.8px solid rgb(120, 120, 120);
  border-radius: 0.3rem;
}

.quantityInput:focus:empty {
  caret-color: auto;
}

.quantityBtn {
  background-color: white;
  border: 0;
  border-radius: 0.3rem;
}

.storeName {
  margin: 0;
  height: 8%;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payItemListInfo {
  width: 100%;
  height: 5%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.3fr;
  padding: 0 0.8rem;
  margin-bottom: 0.5rem;
}

.payItemListWrap {
  padding: 0;
  overflow-y: scroll;
  height: auto;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  margin: 0;
  height: 70%;
}

.payItemListWrap::-webkit-scrollbar {
  width: 10px;
  display: flex;
}

.payItemListWrap::-webkit-scrollbar-thumb {
  background: #f9bb00;
  border-radius: 0.4rem;
}

.payItemList {
  width: 100%;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.2fr;
  align-items: center;
  cursor: default;
}

.payItemList:hover {
  background-color: #f9bb002a;
}

.delPayItemList {
  cursor: pointer;
}

.payInfoWrap {
  width: 100%;
  height: 17%;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extendedPrice {
  font-size: 1.2rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payBtn {
  width: 100%;
  height: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hidden {
  display: none;
}
