.productEventContainer {
  display: flex;
  margin: 6em auto;
  width: 100%;
  height: 25em;
  text-align: center;
  max-width: 80rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.eventType {
  display: flex;
  flex-direction: column;
  width: 11rem;
  margin-right: 5rem;
}

.eventProducts {
  width: 70%;
  min-width: 400px;
}

.calendarIcon {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.eventTypeBtn {
  display: block;
  background-color: white;
  color: rgb(30, 30, 30);
  width: 10rem;
  border-radius: 0.7em;
  border-bottom-right-radius: 0;
  margin-top: 1.5em;
  padding: 0.7em 1.6em 0.7em 0;
  text-align: center;
}

.eventTypeBtn:hover {
  width: 120%;
  background-color: #f9bb00;
  color: white;
  transition: 0.4s;
}

.selectedTypeBtn {
  width: 120%;
  background-color: #f9bb00;
  color: white;
}

.eventTypeIcon {
  margin-right: 0.5em;
}

.productWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 25%;
  height: 18rem;
  background-color: white;
  border-radius: 1em;
  border: 1px solid rgb(200, 200, 200);
  margin: 0.3rem;
  padding: 0.3rem;
}

.productWrapper:hover {
  box-shadow: 0 0 0 3px #f7c83d inset;
  border: 0;
}

.productWrapper:hover .productImg {
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
}

.productImg {
  width: 100%;
  object-fit: cover;
  background-color: white;
}

.productImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}

.titleWrapper {
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  padding: 1rem 0;
  cursor: pointer;
}

.priceInfo {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #f95a00;
}

.itemLine {
  display: block;
  width: 100%;
  height: 0.5px;
  border-top: 0.5px solid #ebebeb;
}

.showItemSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* 반응형 디자인 */
.eventTypeBtnRes {
  width: 100px;
  height: 50px;
  white-space: nowrap;
  display: none;
  margin: 0 0.1rem 0 0.1rem;
}
.selectedTypeBtnRes {
  display: none;
}

@media screen and (max-width: 1200px) {
  .productWrapper{
    width: 33%;
  }
}

@media screen and (max-width: 1000px) {
  .eventProductSwiper{
    height: 350px;
  }
  .productEventContainer{
    justify-content: center;
  }
  .eventTitle{
    align-items: center;
  }
  .eventTitle svg{
    font-size: 28px !important;
  }
  .eventTitle h3{
    font-size: 24px !important;
    margin: 0;
  }
  .eventType {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: 0;
  }
  .eventTypeBtn {
    display: none;
  }
  .selectedTypeBtn {
    display: none;
  }
  .eventTypeBtnRes {
    display: inline-block;
    border-radius: 1rem;
    height: 40px;
    font-size: 12.5px;
    margin: 0 0.2rem;
    border: 0.8px solid #f9bb00;
    background-color: white;
  }
  .selectedTypeBtnRes {
    display: inline-block;
    color: white;
    border: 0.8px solid #f9bb00;
    background-color: #f9bb00;
  }
  .productWrapper{
    width: 50%;
    max-width: 200px;
  }
  .eventTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .eventTitle svg {
    margin-right: 1.2rem;
    margin-top: 1rem;
  }
}
