.productEventContainer{
    display: flex;
    margin: 6em auto;
    width: 84%;
    height: 25em;
    text-align: center;
    max-width: 80rem;
}

.eventType{
    width: 15%;
    margin-right: 2em;
}

.eventProducts{
    width: 85%;
}

.calendarIcon{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.eventTypeBtn {
    display: block;
    background-color: white;
    color: rgb(30, 30, 30);
    width: 12em;
    border-radius: 0.7em;
    border-bottom-right-radius: 0;
    margin-top: 1.5em;
    padding: 0.7em 1.6em 0.7em 0;
}

.eventTypeBtn:hover {
    width: 120%;
    background-color: #f9bb00;
    color: white;
    transition: 0.4s;
}

.selectedTypeBtn{
    width: 120%;
    background-color: #f9bb00;
    color: white;
}

.eventTypeIcon{
    margin-right: 0.5em;
}

.productWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 14rem;
    height: 18rem;
    background-color: white;
    border-radius: 1em;
    margin: 1rem;
    border: 1px solid rgb(200, 200, 200);
}

.productWrapper:hover{
    /* border: 3px solid #f9bb00; */
    box-shadow: 0 0 0 3px #f7c83d inset;
    border: 0;
}

.productWrapper:hover .productImg{
    transform: scale(1.2);
    transition-duration: 0.5s;
    cursor: pointer;
}

.productImg {
    transform: translate(50, 50);
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    background-color: white;
}

.productImgWrapper {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    overflow: hidden;
}

.titleWrapper {
    width: 90%;
    height: 4rem;
    margin: 0 auto;
    padding: 1rem 0;
    cursor: pointer;
}

.priceInfo {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #f95a00;
}
  
.itemLine {
    display: block;
    width: 100%;
    height: 0.5px;
    border-top: 0.5px solid #ebebeb;
}
  
.showItemSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
