.makeStoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.mapWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  border: 1.5px solid #e1e1e1;
  padding: 0.5rem;
}

.makerMartinput {
  border: 1px solid black;
  border-radius: 8px;
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.scrollView {
  display: block;
  text-align: center;
  border-top: 1.5px solid gray;
  border-bottom: 1px solid gray;
  padding: 0.3rem;
  margin: 1rem 0rem 1rem 0rem;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
}

.selectBtn {
  border: 2px solid orange;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: 0.3rem;
  background-color: transparent;
}

.selectBtn:hover {
  background-color: #f9bb00;
  margin: 0.3rem;
}

.cofirmBtn:hover {
  background-color: orange;
}

.cancleBtn {
  background-color: #d1d1d1;
  color: white;
  margin: 0.3rem;
}
.cancleBtn:hover {
  background-color: black;
}

.storeInfo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.storeInfo > span:nth-child(1) {
  color: #8b8b8b;
  font-weight: bold;
}

.mapContainer {
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
