.couponMain {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  min-width: 450px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}
.couponWrapper {
  width: 850px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* margin-left: 250px; */
  padding: 0.5rem;
  /* border: 1px solid grey; */
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.couponWrapper:hover {
  transform: scale(1.03);
}
.couponContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}
.couponText {
  font-size: 1rem;
  margin-bottom: 10px;
}

.couponTitle {
  font-weight: bold;
  color: #333;
}

.tossface {
  font-family: Tossface;
}

.paginationList {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.couponIcon {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.couponBtn {
  background-color: #333333;
  border-radius: 8px;
  padding: 0.3rem;
  color: whitesmoke;
}
.couponNoItem {
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
}
@media screen and (max-width: 1600px) {
  .couponMain {
    margin-left: 250px;
  }
  /* .couponWrapper {
    margin-left: 250px;
  }*/
}
@media screen and (max-width: 600px) {
  .couponWrapper {
    margin-left: 250px;
  }
}
