.orderMain {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  min-width: 500px;
  margin-top: 40px;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.orderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1rem;
  border: 3px solid transparent;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.orderText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
  padding: 10px;
}
.ordernameText {
  min-width: 350px;
  color: #4e5059;
  margin-left: 10px;
  font-size: 16px;
  /* border: 1px solid black; */
  padding: 10px;
}
.orderTotalAmount {
  font-size: 12px;
  color: #4e5059;
}
.orderProductName {
  font-weight: bold;
  font-size: 18px;
}

.orderTextPickup {
  font-size: 16px;
  text-align: center;
  margin-top: 55px;
  font-weight: 600;
  /* margin-left: 20px; */
}
.orderBtn {
  display: flex;
  justify-content: center;
}
.orderDetailBtn {
  /* margin: 2em 0 4.5em 0; */
  width: 8em;
  /* height: 30px; */
  /* padding: 0.8em 0; */
  background-color: #f9bb00;
  min-width: 120px;
}
.tossface {
  font-family: Tossface;
}
.paginationList {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/*           detail jjs          */
.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detailWrapper {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1.5px solid #e1e1e1;
}

.detailImg {
  width: 80px;
  height: 80px;
}

.detailName {
  color: gray;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.detailPrice {
  color: black;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.cancleBtn {
  background-color: transparent;
}

.btnWrapper {
  position: sticky;
  top: 0;
  text-align: right;
}

/* jjs review */
.reviewContainer {
  padding: 1rem;
}
.reviewBtn {
  width: 100%;
}

.contentWrapper {
  background-color: #e1e1e1;
  width: 100%;
  text-align: left;
  padding: 1em;
  border-radius: 0.5em;
}
@media screen and (max-width: 1600px) {
  .orderMain {
    margin-left: 250px;
  }
}

.reviewWrapper {
  background-color: #e1e1e1;
  width: 100%;
  text-align: left;
  padding: 1em;
  border-radius: 0.5em;
  color: gray;
}
