.mypageMain {
  width: 65vw;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 14rem;
  margin-bottom: 4rem;
  background-color: whitesmoke;

  border-radius: 15px;
  border: 1px solid whitesmoke;
  /* border: 1px solid #f9bb00; */

  /* box-shadow: "20px 20px 20px yellow"; 가로거리 세로거리  */
  /* box-shadow: inset 10px 100px 15px yellowgreen; */

  box-shadow: 0px 0px 10px 0.5px #f9bb00;
}

/* 메뉴바 */
.sideMenuBar {
  position: absolute;
  left: 0;
  margin-top: 10px;
  height: 50vh;

  min-width: 180px;
  padding: auto;
  /* font-size: 1.2em; */
  font-size: 16px;
}

.mypagecontent {
  border: 1px solid balck;
  background-color: white;
}
.mypageTitle {
  margin-bottom: 10px;
}

.myinfo {
  font-size: 1.2em;
  /* margin: 2rem; */
  padding: 2rem;
  display: grid;
  /* grid-template-columns: 0.5fr 0.5fr; */
  justify-content: center;
  grid-gap: 2rem;
  text-align: left;
  align-items: center;
}
.myTitleId {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.myTitleIdValue {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.myTitleName {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.myTitleNameValue {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.myTitleEmail {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.myTitleEmailValue {
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.editEmail {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.editPassword {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.mypageTitleEmailValueBtn {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.mypagemenubar {
  font-size: 1.2em;
  margin-top: 8px;
  margin-left: 0;
}

.modifyBtn {
  /* width: 10px; */
  /* padding: 0.2vw; */
  margin: 0;
  background-color: #f9bb00;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  cursor: pointer;
}

.passwordBtn {
  width: 11rem;
  height: 50px;
  background-color: rgb(204, 204, 204);
}
.emailChangeBtn {
  width: 9.5rem;
  height: 50px;
  background-color: rgb(204, 204, 204);
}
