.reviewMain {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 900px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 100px;
  /* background-color: blue; */
}

.reviewWrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  /* min-width: 400px; */
  padding: 8px;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  /* background-color: red; */
}
.dateAndImg {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.image {
  width: 200px;
}

.reviewContainer {
  /* background-color: gray; */
  width: 44vw;
  min-width: 350px;
  margin-left: 10px;
}

/* .reviewContent {
  font-size: 16px;
  padding-top: 10px;
} */

.reviewnameText {
  font-size: 16px;
  padding-bottom: 10px;
}
.reviewDate {
  font-size: 16px;
  margin-left: 10px;
}
.reviewText {
  font-size: 16px;
  font-weight: 600;
}

.reviewDetailBtn {
  margin: 0;
  padding: 0;
  width: 5em;
  height: 2em;
  font-size: 0.7em;
  background-color: #eee;
}
.tossface {
  font-family: Tossface;
}
.reviewRating {
  display: flex;
  justify-content: space-between;
}
.paginationList {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
