.reviewMain {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 330px;
}

.reviewWrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  /* min-width: 400px; */
  padding: 8px;
  border-radius: 1rem;
  border: 3px solid transparent;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
/* .reviewWrapper:hover {
  border-color: #f9bb00;
} */

.dateAndImg {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.image {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 740px) {
  .image {
    display: none;
  }
  .reviewWrapper {
    flex-direction: column;
    align-items: start;
  }

  .reviewDate {
    text-align: left;
  }
}

.reviewContainer {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
}

/* .reviewContent {
  font-size: 16px;
  padding-top: 10px;
} */

.reviewnameText {
  font-size: 16px;
  padding-bottom: 10px;
}
.reviewDate {
  font-size: 16px;
  margin-left: 10px;
}
.reviewText {
  font-size: 16px;
  font-weight: 600;
}

.reviewBtn {
  display: flex;
  justify-content: center;
}
.reviewDetailBtn {
  margin: 0;
  padding: 0;
  width: 5em;
  height: 2em;
  font-size: 0.7em;
  background-color: #eee;
}
.tossface {
  font-family: Tossface;
}
.reviewRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.paginationList {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
