.orderRequestContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  min-height: 100vh;
  flex-wrap: wrap;
}

.orderRequestWrapper {
  min-width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: rgb(60, 60, 60);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.productListWrapper {
  display: block;
  height: 200px;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  width: 80%;
  overflow: auto;
}
.productListWrapper::-webkit-scrollbar {
  width: 10px;
  display: flex;
}

.productListWrapper::-webkit-scrollbar-thumb {
  background: #f9bb00;
  border-radius: 0.4rem;
}

.productListSection {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1em;
  border: 1px solid gray;
  border-radius: 0.3em;
  padding: 0.5rem;
  padding-left: 1rem;
  height: 3.7rem;
}

.gridFirstItem {
  align-self: center;
}

.gridSecondItem {
  display: flex;
  justify-content: right;
  align-items: center;
}

.itemTitle {
  color: rgb(60, 60, 60);
  font-weight: 800;
}

.qqtTitle {
  color: #585858;
  margin: 0.5rem;
}
.checkBox {
  align-self: center;
  width: 1.8em;
  height: 1.8rem;
}

.addBtn {
  width: 100px;
  background-color: #e1e1e1;
  min-width: 320px;
  max-width: 500px;
  margin: 1rem;
}

.confirmBtn {
  width: 100px;
  min-width: 320px;
  max-width: 500px;
}

.input {
  border: 1px solid gray;
}
