.productDetailContainer {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.itemContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contentSection {
  width: 30em;
  padding: 1em;
}

.itemImage {
  width: 15em;
  height: 15em;
}

.itemLine {
  display: block;
  width: 100%;
  height: 0.5px;
  border-top: 0.5px solid #ebebeb;
}

.priceContainer {
  display: flex;
  flex-direction: column;
}

.productTitle {
  color: #4b4b4b;
  font-size: 1.5rem;
}

.productPrice {
  color: #cb1400;
  font-weight: 500;
  font-size: 1.5rem;
}

.discountedPrice {
  color: #4b4b4b;
  margin-right: 0.6rem;
  text-decoration: line-through;
}

/*----------------리뷰----------------*/

.reviewContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin-top: 1.5rem;
  width: 80%;
  max-width: 800px;
  min-width: 320px;
}

.selectOrder {
  background-color: #f4f4f4;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.reviewNumber {
  margin: 0.8rem;
  width: 100%;
  margin-left: 2rem;
  text-align: left;
}
.reviewContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  padding: 1em;
  margin: 1em;
}

.reviewDelBtn {
  margin-left: auto;
  padding: 0.3em;
  border-radius: 0.8em;
  font-size: 0.8em;
  background-color: white;
  border: 1.3px solid black;
}

.reviewDelBtn:hover {
  color: white;
  background-color: #393838;
  transition: 0.2s ease;
}
.reviewMemberName {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}
.starWrapper {
  display: flex;
  flex-direction: row;
}

.starFilled {
  color: #edb32c;
}

.cartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentWrapper {
  background-color: #e1e1e1;
  width: 100%;
  text-align: left;
  padding: 1em;
  border-radius: 0.5em;
}

.buttonWrapper {
  border: 1px solid gray;
}
.upBtn {
  background-color: white;
  border-left: 1px solid gray;
  border-radius: 0;
}
.downBtn {
  background-color: white;
  border-right: 1px solid gray;
  border-radius: 0;
}

.qttInput {
  height: 30px;
  width: 4em;
  margin: 0.2rem;
}

.toCartBtn {
  background-color: white;
  border: 2px solid gray;
  margin: 1rem;
}

.toCartBtnNotLogin {
  color: gray;
  background-color: #e1e1e1;
  border: 2px solid #e1e1e1;
  margin: 1rem;
}

/* ------------------modal--------------- */

.detailModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.oneLine {
  width: 100%;
  margin: 1rem;
  border: 1px solid #e1e1e1;
}
.detailModalTitle {
  text-align: center;
}

.detailModalInfo {
  text-align: center;
  color: gray;
  font-size: 0.8rem;
  margin: 1rem;
}

.btnWrapper {
  width: 100%;
  border-top: 1px solid #e1e1e1;
}
.cancleBtn {
  background-color: white;
  width: 50%;
  border-radius: 0;
  border-right: 1px solid #e1e1e1;
}
.cofirmBtn {
  background-color: white;
  width: 50%;
  border-radius: 0;
  border-left: 1px solid #e1e1e1;
}
