
/* .formControl{
    width: 20vw;
}

.inputlabel{
}

.pwInput{
    border-radius: 4rem;
    width: 24rem;
    margin: 0 auto;
} */

.pwResettingWrap{
    width: 100%;
    height: 22em;
    border-top: 0;
    padding-top: 3.8em;
}

.pwInput{
    display: block;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 2.1em;
    width: 22rem;
    padding: 0.8em 1.8em;
    font-size: 0.9em;
    border: 0.1em solid rgba(0, 0, 0, 0.8);
    outline: none;
}

.pwSettingBtn{
    margin-top: 3rem;
    width: 22rem;
}