.searchStoreContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapContainer {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

/* ----drawer-------------------- */

.drawerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 350px;
  position: absolute;
  z-index: 2;
  left: 0;
  transition: 0.3s;
}

.title {
  display: flex;
  font-size: 15px;
  font-weight: 700;
}

.drawerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  left: -3px;
  width: 30px;
  background-color: white;
  height: 80px;
  box-shadow: 3px 0px 1px -2px gray;
}
/* .drawerContainer:hover {
  left: -350px;
} */

.drawerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 350px;
  padding: 1rem;
  box-shadow: 3px 0px 1px -2px gray;
}

.locationWrapper {
  margin: 1rem;
}

.productWrapper {
  width: 100%;
}

.productSelectWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productListWrapper {
  padding: 1rem;
  background-color: white;
  width: 100%;
  height: auto;
  max-height: 150px;
  overflow-y: auto;
  border-top: 1px solid #7a7a7a;
}

.storeWrapper {
  width: 100%;
  margin: 1rem;
  height: auto;
  overflow-y: auto;
  border-top: 1px solid #7a7a7a;
}

.storeListWrapper {
  padding: 1rem;
  background-color: white;
  width: 100%;
}

.btnWrapper {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.inputWraaper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disInput {
  margin: 0.5rem;
  border: 1px solid #7a7a7a;
  border-radius: 0.3rem 0 0 0.3rem;
  font-size: 15px;
  font-weight: 400;
  height: 35px;
  margin-right: 0;
  border-right: none;
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 35px;
  margin: none;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
}

.disBtnOne {
  color: white;
  background-color: #f95a00;
  padding: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.7rem;
  border-radius: 1rem 0 0 1rem;
  border-right: 3px solid white;
}

.disBtnTwo {
  color: white;

  background-color: #f95a00;
  padding: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0;
  font-size: 0.7rem;
}

.disBtnThree {
  color: white;
  background-color: #f95a00;
  padding: 0.5rem;
  padding-top: 0.3rem;
  font-size: 0.7rem;
  padding-bottom: 0.3rem;
  border-radius: 0 1rem 1rem 0;
  border-left: 3px solid white;
}

/* -----------------product item --------- */
.productItemWrapper {
  padding: 0.5rem;
  cursor: pointer;
}

.productItemWrapper:hover {
  background-color: #e1e1e1;
}

.productTitle {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.productOrderCount {
  font-size: 0.9rem;
}
/* -----------------store item --------- */
.storeItemWrapper {
  padding: 0.5rem;
  cursor: pointer;
}

.storeItemWrapper:hover {
  background-color: #e1e1e1;
}

.storeitle {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.storeAddress {
  font-size: 0.8rem;
}
