.productWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 13em;
  height: auto;
  background-color: white;
  border-radius: 1em;
  margin: 0.7em;
  max-height: 300px;
  transition: 0.2s;
}

.linkTag {
  text-decoration-line: none;
}

.linkTag:hover {
  text-decoration-line: none;
  color: black;
}

.productWrapper:hover {
  box-shadow: 0 0 0 3px #f7c83d inset;
}

.productImg {
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

.productImgWrapper {
  width: 10em;
  height: 10em;
  padding: 1em;
}
.titleWrapper {
  padding: 1rem;
  height: 3.9rem;
}
.priceInfo {
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #f95a00;
}

.itemLine {
  display: block;
  width: 100%;
  height: 0.5px;
  border-top: 0.5px solid #ebebeb;
}

.showItemSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  row-gap: 60px;
}

.defaultBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.defaultBtn:hover {
  color: #f7c83d;
}
.showWrapper {
  background-color: red;
  min-height: 500px;
}

.badgeOnePlus {
  font-weight: 650;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  border-radius: 0.8rem 0.8rem 0.1rem 0.8rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  background-color: #f7c83d;
}

.badgeTwoPlus {
  font-weight: 650;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  border-radius: 0.8rem 0.8rem 0.1rem 0.8rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  color: white;
  background-color: #f95a00;
}

.badgeThreePlus {
  font-weight: 650;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  border-radius: 0.8rem 0.8rem 0.1rem 0.8rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  background-color: skyblue;
}
