.showAllSection {
  background-color: #ededed;
  padding: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.showWrapper {
  min-height: 600px;
}

.nameWrapper {
  margin: 1rem;
}

.nameWrapper > p {
  color: gray;
  font-weight: 700;
}
