.showAllSection {
  width: 100%;
  background-color: #ededed;
  padding: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.aboveTitle {
  font-weight: 900;
}

.aboveP {
  color: gray;
}

.showAllCenterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showWrapper {
  min-height: 600px;
  font-weight: 800;
  display: inline-block;
}

@media screen and (max-width: 740px) {
  .nameWrapper > h1 {
    font-size: 1.3rem;
  }
}

.nameWrapper > p {
  color: gray;
}
