.couponUpdateMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 16px;
}
.couponUpdateContainer {
  border: 1px solid #ccc;
  padding: 40px;
  border-radius: 16px;
  margin-bottom: 10px;
  min-width: 2vw;
}
.couponUpdateTitle {
  font-weight: bold;
}
.couponUpdateType {
  font-weight: bold;
  margin-top: 13px;
}
.couponUpdateDate {
  font-weight: bold;
  margin-top: 13px;
}
.couponUpdateInput {
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .couponUpdateMain {
    margin-left: 250px;
  }
}
@media screen and (max-width: 640px) {
  .couponUpdateMain {
    min-width: 300px;
  }
}
@media screen and (max-width: 415px) {
  .couponUpdateMain {
    margin-left: 0px;
  }
}
