.eventWrapper {
  width: 88vw;
  display: flex;
  flex-direction: column;
}
.eventNavbar {
  width: 85vw;
  height: 7vh;
  margin: auto;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  background-color: #333333;
  align-items: center;
  justify-items: center;
  border-radius: 0.8rem;
}
.eventNavbar .event {
  display: flex;
  width: 98%;
  height: 100%;
  font-size: 16px;
  align-items: center;

  justify-content: center;
  font-weight: 500;
  color: #999999;
  cursor: pointer;
  border-radius: 0.6rem;
}

.eventNavbar .eventActive {
  display: flex;
  width: 98%;
  height: 6vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  background-color: #f9bb00;
  cursor: pointer;
  border-radius: 0.6rem;
}

.eventContainer {
  width: 82vw;
  display: grid;
  margin: auto;
  padding-top: 2vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}
.eventItem {
  width: 100%;
  position: relative;
  border: 3px solid transparent;
  row-gap: 1rem;
}
.eventItem:hover {
  transition: 0.1s;
  color: #f9bb00;
}
.eventItem:hover .eventImage,
.eventItem:hover .endedEventImage {
  border-color: #f9bb00;
  transform: scale(1.05);
}

.eventText {
  font-size: 2vh;
  font-weight: 600;
  text-align: center;
}

.eventImage,
.endedEventImage {
  width: 100%;
  height: 40vh;
  margin-bottom: 2vh;
  border: 3px solid transparent;
  overflow: hidden;
  border-radius: 2.5rem;
  cursor: pointer;
}
.endedEventImage {
  filter: grayscale(100%);
}

.eventImage:hover,
.endedEventImage:hover {
  border-color: #f9bb00;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .eventContainer {
    display: inline;
    margin: 1rem;
    padding: 1rem;
  }
  .eventNavbar {
    width: 90vw;
  }
}
