.eventWrapper {
  width: 88vw;
  display: flex;
  flex-direction: column;
}
.eventNavbar {
  width: 82vw;
  height: 7vh;
  margin: auto;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  background-color: #333333;
  align-items: center;
  border-radius: 0.8rem;
}
.eventNavbar .event {
  padding: 0.65rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-weight: 600;
  color: #999999;
  cursor: pointer;
  border-radius: 0.6rem;
}

.eventNavbar .eventActive {
  padding: 0.65rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-weight: 600;
  background-color: #f9bb00;
  color: black;
  cursor: pointer;
  border-radius: 0.6rem;
}

.eventContainer {
  width: 82vw;
  display: grid;
  margin: auto;
  padding-top: 2vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}
.eventItem {
  width: 100%;
  position: relative;
  border: 3px solid transparent;
  row-gap: 1rem;
}
.eventItem:hover {
  transition: 0.1s;
  color: #f9bb00;
}
.eventItem:hover .eventImage {
  border-color: #f9bb00;
  transform: scale(1.05);
}
.eventText {
  font-size: 3vh;
  text-align: center;
}

.eventImage {
  width: 100%;
  height: 40vh;
  margin-bottom: 2vh;
  border: 3px solid transparent;
  overflow: hidden;
  border-radius: 2.5rem;
  cursor: pointer;
}

.eventImage:hover {
  transition: 0.1s;
  border-color: #f9bb00;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .eventContainer {
    display: inline;
    margin: 1rem;
    padding: 1rem;
  }
  .eventNavbar {
    width: 90vw;
  }
}
