.eventWrapper {
  width: 88vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventTitle {
  width: 70vw;
  margin-left: 2px;
  font-size: 2.6vw;
  font-weight: 600;
  text-align: left;
}

.eventTitleText {
  margin-left: 2px;
  font-size: 1.5vw;
  color: #999999;
  text-align: left;
  margin-bottom: 45px;
}
.eventDetailDiv {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #999999;
  padding: 10px;
  margin: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.eventDetailTitle {
  margin-left: 0.5rem;
  font-size: 1.7vw;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.eventDetailDate {
  margin-right: 0.5rem;
  font-size: 1vw;
  color: #999999;
  text-align: right;
  margin: 0;
}

.eventListBtn {
  width: 200px;
  background-color: #f9bb00;
  color: #333333;
  align-items: left;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}
.eventDetailImage {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.eventOngoingBadge,
.eventEndedBadge {
  min-width: 12px;
  font-size: 12px;
  font-weight: 650;
  padding: 5px 8px;
  border-radius: 13px 13px 6px 13px;
  display: inline-block;
}
.eventOngoingBadge {
  border: 1px solid #ebebeb;
  background-color: #f9bb00;
}
.eventEndedBadge {
  border: 1px solid #9e3900;
  background-color: #f95a00;
}
@media screen and (max-width: 768px) {
  .eventContainer {
    display: inline;
    margin: 1rem;
    padding: 1rem;
  }
  .eventTitle {
    font-size: 3vw;
  }
}
