.eventWrapper {
  width: 86vw;
  display: flex;
  flex-direction: column;
  min-width: 900px;
  line-height: 1.4;
}
.eventNavbar {
  width: 72vw;
  height: 7vh;
  margin: auto;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  background-color: #333333;
  font-weight: 600;
  align-items: center;
  justify-items: center;
  border-radius: 0.8rem;
  min-width: 400px;
}
.eventNavbar .event {
  display: flex;
  width: 98%;
  height: 100%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #999999;
  cursor: pointer;
  border-radius: 0.6rem;
}

.eventNavbar .eventActive {
  display: flex;
  width: 98%;
  height: 6vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  background-color: #f9bb00;
  cursor: pointer;
  border-radius: 0.6rem;
}

.eventContainer {
  width: 70vw;
  display: grid;
  margin: auto;
  margin-bottom: 1rem;
  padding-top: 2vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
  padding: auto;
}
.eventItem {
  width: 80%;
  position: relative;
  border: 3px solid transparent;
}
.eventItem:hover {
  transition: 0.1s;
  color: #f9bb00;
}

.eventText {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.eventImage,
.endedEventImage {
  width: 100%;
  border: 3px solid transparent;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  object-fit: contain;
  /* box-sizing: border-box; */
}

.endedEventImage {
  filter: grayscale(100%);
}

.eventImage:hover,
.endedEventImage:hover {
  border-color: #f9bb00;
  transform: scale(1.04);
}

@media screen and (max-width: 768px) {
  .eventContainer {
    display: inline;
    margin: 1rem;
    padding: 1rem;
  }
  .eventImage,
  .endedEventImage {
    margin-top: 1rem;
  }
  .eventImage:hover,
  .endedEventImage:hover {
    border-color: #f9bb00;
    transform: scale(1.02);
  }
  .eventNavbar {
    width: 91vw;
  }
}
